/*
 * Theme colors
 */

$c-blue-40: hsl(164, 85%, 41%) !default;
$c-blue-30: hsl(191, 85%, 31%) !default;
$c-blue-20: hsl(211, 47%, 29%) !default;

$c-gray-00: hsl(189, 66%, 8%) !default;
$c-gray-30: hsl(189, 11%, 36%) !default;
$c-gray-80: hsl(187, 9%, 80%) !default;
$c-gray-90: hsl(210, 11%, 96%) !default;

$c-white: hsl(0, 0%, 100%) !default;

/*** opacity ***/
$c-gray-80-10: hsla(187, 9%, 80%, .1) !default;
$c-gray-00-10: hsla(189, 66%, 8%, .1) !default;

$c-blue-30-10: hsla(191, 85%, 31%, .1) !default;

$c-info-40-40: hsla(202, 100%, 43%, .4) !default;

/*** gradients ***/
$c-theme-gradient-primary: linear-gradient(-60deg, $c-blue-40 0%, $c-blue-30 35%, $c-blue-20 100%);

/*** shadows ***/
$c-shadow-base: 0 4px 30px $c-gray-00-10;

/*** used colors ***/

$c-theme-primary: $c-blue-30;
$c-theme-primary-dark: $c-blue-20;

$c-theme-gray: $c-gray-00;
$c-theme-gray-light: $c-gray-30;
$c-theme-gray-lighter: $c-gray-80;
$c-theme-gray-lightest: $c-gray-90;
 
$c-theme-font: $c-gray-00;

$c-theme-shadow-dark: $c-shadow-base;

/*
 * Utility colors
 */

$c-success-40: hsl(126, 62%, 41%) !default;
$c-success-30: hsl(126, 62%, 31%) !default;

$c-info-40: hsl(202, 100%, 43%) !default;
$c-info-30: hsl(202, 100%, 33%) !default;

$c-danger-40: hsl(0, 70%, 48%) !default;
$c-danger-30: hsl(0, 70%, 38%) !default;

$c-warning-40: hsl(42, 70%, 48%) !default;
$c-warning-30: hsl(42, 70%, 38%) !default;

$success: $c-success-40 !default;
$info: $c-info-40 !default;
$danger: $c-danger-40 !default;
$warning: $c-warning-40 !default;

$utility-colors: (
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger
) !default;

/*
 * Media queries
 */

$mq: (
    xs: px-rem(360),
    sm: px-rem(780),
    md: px-rem(1240),
    lg: px-rem(1440),
    hd: px-rem(1800)
) !default;

/*
 * Spacing
 * spacing are not responsive values
 */

$spacing-multiplier: 1, 2, 4 !default;

$spacing: (
    xs: px-rem(4),
    sm: px-rem(8),
    md: px-rem(16),
    lg: px-rem(32),
    hd: px-rem(64)
) !default;


/*
 * Typography
 */

$font-primary: 'Inter', sans-serif !default;

$font-size-sm: .7rem !default;
$font-size-md: 1rem !default;
$font-size-lg: 1.125rem !default;

$line-height-xs: 1 !default;
$line-height-sm: 1.1 !default;
$line-height-md: 1.3 !default;
$line-height-lg: 1.5 !default;

$h-size-xs: (
    h1: px-em(24),
    h2: px-em(21),
    h3: px-em(18),
    h4: px-em(16),
    h5: px-em(16),
    h6: px-em(16)
) !default;

$h-size-sm: (
    h1: px-em(27),
    h2: px-em(24),
    h3: px-em(21),
    h4: px-em(18),
    h5: px-em(16),
    h6: px-em(16)
) !default;

$h-size-md: (
    h1: px-em(36),
    h2: px-em(32),
    h3: px-em(27),
    h4: px-em(24),
    h5: px-em(21),
    h6: px-em(18)
) !default;

$h-size-lg: (
    h1: px-em(44),
    h2: px-em(36),
    h3: px-em(28),
    h4: px-em(24),
    h5: px-em(21),
    h6: px-em(18)
) !default;

$h-size-hd: (
    h1: px-em(48),
    h2: px-em(40),
    h3: px-em(32),
    h4: px-em(27),
    h5: px-em(24),
    h6: px-em(21)
) !default;

$text-spacer-top: map-get($spacing, lg) !default;
$text-spacer-bottom: map-get($spacing, md) !default;

$link-color: $c-theme-primary;
$link-decoration: underline;
$link-color-hover: $c-theme-primary-dark;
$link-decoration-hover: underline;


/*
 * Print
 */

$website_url: "bhen.be";


/*
 * Border
 */

$border-width: px-rem(3);
$border-radius: px-rem(4);
$border-radius-lg: 50%;


/*
 * Transition
 */

$transition-duration: .2s;
$transition-type: ease-out;

/*
 * Grid 
 */

$grid-gap: (
    xs: px-rem(16),
    sm: px-rem(16),
    md: px-rem(24),
    lg: px-rem(32),
    hd: px-rem(64)
);

$grid-container-maxwidth: map-get($mq, lg);

$grid-columns-count: 12;
$grid-columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12; 


/*
 * Image
 */

$thumbnail-border-radius: 50%;
$thumbnail-width: 140px;
$thumbnail-height: 140px;
$thumbnail-object-fit: cover;

$fig-caption-size: $font-size-sm;
$fig-caption-color: $c-theme-gray-light;
$fig-caption-style: italic; 
$fig-margin-bottom: map-get($spacing, md);


/*
 * Form
 */

$fieldset-border-width: 1px;
$fieldset-border-style: solid;
$fieldset-border-color: $c-theme-gray-light;
$fieldset-spacing: map-get($spacing, md);

$label-color: $c-theme-gray;
$label-weight: 700;

$input-bgcolor: $c-white;
$input-border-width: 1px;
$input-border-style: solid;
$input-border-color: $c-theme-gray-lighter;
$input-border-color-focus: $c-info-40;
$input-border-radius: $border-radius;
$input-height: px-rem(44);
$input-padding: map-get($spacing, sm);	
$input-box-shadow: 1px 1px 3px $c-theme-gray-lighter inset;
$input-box-shadow-focus: 0 1px 3px $c-info-40-40, 1px 1px 3px $c-theme-gray-lighter inset;
$input-color: $c-theme-gray;
$input-font-weight: 400;
$input-line-height: 1.3;
$input-transition: all $transition-duration $transition-type;

$placeholder-opacity: .3;
$placeholder-color: $input-color;
$placeholder-style: italic;

$select-bg-position: 98% 18px;
$select-bg-size: 16px auto;

$form-group-margin-bottom: map-get($spacing, lg);

/*
 * Table
 */

$table-border-radius: $border-radius;
$table-border-width: $border-width;
$table-border-style: solid;
$table-border-color: $c-theme-gray-light;
$table-padding: map-get($spacing, md);
$table-spacing: map-get($spacing, md);


/*
 * Icons
 */

$icons-list: (
) !default;

$icon-size-sm: $font-size-sm;
$icon-size-md: $font-size-md;
$icon-size-lg: $font-size-lg;


/*
 * Alert
 */

$alert-border-radius: $border-radius;
$alert-border-width: $border-width;
$alert-border-style: solid;
$alert-margin-bottom: map-get($spacing, md);
$alert-padding: map-get($spacing, md);
$alert-link-font-weight: 700;


/*
 * Button
 */ 

$btn-border-radius: $border-radius;
$btn-border-width: $border-width;
$btn-border-style: solid;
$btn-border-color: $c-theme-primary;
$btn-padding: map-get($spacing, sm) map-get($spacing, lg);
$btn-padding-small: map-get($spacing, xs) map-get($spacing, sm);
$btn-font-family: $font-primary;
$btn-font-size: inherit;
$btn-font-size-small: $font-size-sm;
$btn-font-weight: 700;
$btn-line-height: $line-height-xs;
$btn-text-shadow: 0 0 0 rgba(0,0,0,0);
$btn-hover-ratio: 10%;
$btn-transition: all $transition-duration $transition-type;

$btn-colors: (
    "primary": $c-theme-primary,
    "disabled": $c-theme-gray-light,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger
) !default;


/*
 * Nav
 */

$nav-padding: map-get($spacing, md) 0;

$nav-link-bgcolor: transparent;
$nav-link-border-width: 0;
$nav-link-border-style: solid;
$nav-link-border-color: transparent;
$nav-link-border-radius: $border-radius;
$nav-link-color: $c-theme-gray;
$nav-link-decoration: none;
$nav-link-spacing: map-get($spacing, lg);
$nav-link-padding: map-get($spacing, md);
$nav-link-weight: 400;
$nav-link-transform: unset;

$nav-link-bgcolor-hover: transparent;
$nav-link-border-width-hover: 0;
$nav-link-border-style-hover: solid;
$nav-link-border-color-hover: transparent;
$nav-link-border-radius-hover: $border-radius;
$nav-link-color-hover: $c-theme-gray;
$nav-link-decoration-hover: underline;
$nav-link-spacing-hover: map-get($spacing, lg);
$nav-link-padding-hover: map-get($spacing, md);
$nav-link-weight-hover: 400;
$nav-link-transform-hover: unset;

$nav-toggle-x: 1rem;
$nav-toggle-y: 0;

$nav-inverse-link-bgcolor: transparent;
$nav-inverse-link-border-color: transparent;
$nav-inverse-link-color: $c-white;

$nav-inverse-link-bgcolor-hover: transparent;
$nav-inverse-link-border-color-hover: $c-theme-primary;
$nav-inverse-link-color-hover: $c-theme-primary;


/*
 * Dropdown
 */

$dropdown-bgcolor: $c-white;
$dropdown-border-width: 1px; 
$dropdown-border-style: solid;
$dropdown-border-color: $c-theme-gray-light;
$dropdown-border-radius: $border-radius;
$dropdown-box-shadow: $c-theme-shadow-dark;
$dropdown-spacing: map-get($spacing, md);
$dropdown-min-width: 200px;
$dropdown-padding: map-get($spacing, md);
$dropdown-z-index: 400;
$dropdown-divider-width: 1px; 
$dropdown-divider-style: solid; 
$dropdown-divider-bgcolor: $c-theme-gray-light;
$dropdown-link-padding: map-get($spacing, md);
$dropdownlink-font-weight: 400;
$dropdown-link-color: $c-theme-gray;
$dropdown-link-text-decoration: none;
$dropdown-link-bgcolor-hover: $c-theme-primary;
$dropdown-link-color-hover: $c-white;
$dropdown-link-text-decoration-hover: none;
$dropdown-header-color: $c-theme-gray;
$dropdown-header-padding: map-get($spacing, md);


/*
 * Badge
 */

$badge-background-color: $c-theme-primary;
$badge-border-radius: $border-radius-lg;
$badge-color: $c-white;
$badge-font-size: $font-size-sm;
$badge-font-weight: 700; 
$badge-padding: map-get($spacing, xs);


/*
 * Label
 */

$label-border-radius: $border-radius;
$label-color: $c-theme-gray;
$label-font-size: $font-size-sm;
$label-font-weight: 700;
$label-line-height: $line-height-sm;
$label-padding: 2px 4px;

$label-colors: (
    "primary": $c-theme-primary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger
) !default;


/*
 * Breadcrumb
 */

$breadcrumb-bgcolor: $c-theme-gray-lightest;
$breadcrumb-border-radius: $border-radius;
$breacrumb-font-size: $font-size-sm;
$breadcrumb-margin-bottom: map-get($spacing, md);
$breadcrumb-padding: map-get($spacing, md);
$breadcrumb-item-padding: map-get($spacing, md);
$breadcrumb-link-color: $c-theme-primary;
$breadcrumb-active-color: $c-theme-primary;
$breadcrumb-divider-color: $c-theme-gray-light;