/*
 * Theme colors
 */

$c-purple-20: hsl(312, 100%, 25%);

$c-pink-30: hsl(332, 100%, 39%);

$c-red-50: hsl(350, 85%, 53%);

$c-gray-00: hsl(189, 66%, 8%);
$c-gray-30: hsl(189, 11%, 36%);
$c-gray-80: hsl(187, 9%, 80%);
$c-gray-90: hsl(210, 11%, 96%);

$c-white: hsl(0, 0%, 100%);

/*** opacity ***/
$c-gray-80-10: hsla(187, 9%, 80%, .1);

/*
 * Utility colors
 */

$c-success-40: hsl(126, 62%, 41%);
$c-success-30: hsl(126, 62%, 31%);

$c-danger-40: hsl(0, 70%, 48%);
$c-danger-30: hsl(0, 70%, 38%);

$c-info-40: hsl(202, 100%, 43%);
$c-info-30: hsl(202, 100%, 33%);

$c-warning-40: hsl(42, 70%, 48%);
$c-warning-30: hsl(42, 70%, 38%);

/*
 * Colors
 */

$c-primary: $c-red-50;
$c-secondary: $c-purple-20;
 
$c-font-base: $c-gray-00;

/*
 * Spacing
 */

$margin: px-rem(16);

$padding-xs: px-rem(4);
$padding-sm: px-rem(8);
$padding-md: px-rem(16);
$padding-lg: px-rem(32);


/*
 * Typography
 */

$font-primary: 'Inter', sans-serif;

$font-size-md: 1rem;
$font-size-lg: 1.125rem;

$line-height-xs: 1;
$line-height-sm: 1.1;
$line-height-md: 1.3;
$line-height-lg: 1.5;

$h1-size-xs: px-em(32);
$h2-size-xs: px-em(28);
$h3-size-xs: px-em(24);
$h4-size-xs: px-em(21);
$h5-size-xs: px-em(18);
$h6-size-xs: px-em(16);

$h1-size-md: px-em(44);
$h2-size-md: px-em(36);
$h3-size-md: px-em(32);
$h4-size-md: px-em(27);
$h5-size-md: px-em(24);
$h6-size-md: px-em(21);

$text-spacer-top: ($margin * 2);
$text-spacer-bottom: $margin;

$link-decoration: underline;


/*
 * Print
 */

$website_url: "bhen.be";


/*
 * Border
 */

$border-width: px-rem(3);
$border-radius: px-rem(4);

/*
 * Media queries
 */

$mq-xs: px-rem(360);
$mq-sm: px-rem(780);
$mq-md: px-rem(1240);
$mq-lg: px-rem(1440);


/*
 * Transition
 */

$transition-duration: .2s;
$transition-type: ease-out;

/*
 * Grid 
 */

$grid-gap-xs: px-rem(8);
$grid-gap-sm: px-rem(16);
$grid-gap-md: px-rem(32);
$grid-gap-lg: px-rem(48);
$grid-gap-base: $grid-gap-sm;
 
$grid-container-maxwidth: $mq-lg;
 
$grid-columns-count: 12;
$grid-columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12; 

/*
 * Form
 */

$input-bgcolor: $c-white;
$input-border-width: $border-width;
$input-border-style: solid;
$input-border-color: $c-gray-30;
$input-border-radius: $border-radius;
$input-minheight: px-rem(44);
$input-padding: $padding-sm;
$input-border-color-focus: $c-info-40;	


/*
 * Table
 */



/*
 * Button
 */ 

$btn-hover-ratio: 10%;

$btn-border-radius: $border-radius;
$btn-border-with: $border-width;
$btn-border-style: solid;
$btn-border-color: $c-primary;
$btn-padding: $padding-sm $padding-lg;
$btn-color: $c-white;
$btn-bgcolor: $c-primary;
$btn-font-size: $font-size-md;
$btn-font-weight: 700;
$btn-text-shadow: 0 0 0 rgba(0,0,0,0);
$btn-bgcolor-hover: darken($c-primary, $btn-hover-ratio);
$btn-border-color-hover: darken($c-primary, $btn-hover-ratio);
$btn-color-hover: $c-white;

$btn-disabled-border-color: $c-gray-30;
$btn-disabled-color: $c-white;
$btn-disabled-bgcolor: $c-gray-30;
$btn-disabled-border-color-hover: darken($c-gray-30, $btn-hover-ratio);
$btn-disabled-color-hover: $c-white;
$btn-disabled-bgcolor-hover: darken($c-gray-30, $btn-hover-ratio);

$btn-success-border-color: $c-success-30;
$btn-success-color: $c-white;
$btn-success-bgcolor: $c-success-30;
$btn-success-border-color-hover: darken($c-success-30, $btn-hover-ratio);
$btn-success-color-hover: $c-white;
$btn-success-bgcolor-hover: darken($c-success-30, $btn-hover-ratio);

$btn-info-border-color: $c-info-30;
$btn-info-color: $c-white;
$btn-info-bgcolor: $c-info-30;
$btn-info-border-color-hover: darken($c-info-30, $btn-hover-ratio);
$btn-info-color-hover: $c-white;
$btn-info-bgcolor-hover: darken($c-info-30, $btn-hover-ratio);


/*
 * Nav
 */

$nav-padding: $padding-md 0;

$nav-link-bgcolor: transparent;
$nav-link-border-width: 0 0 $padding-xs 0;
$nav-link-border-style: solid;
$nav-link-border-color: transparent;
$nav-link-color: $c-white;
$nav-link-decoration: none;
$nav-link-margin: 0 ($padding-md * 2) 0 0;
$nav-last-link-margin: 0 ($padding-md * 2) 0 0;
$nav-link-padding: $padding-md $padding-md ($padding-md - $padding-xs) $padding-md;
$nav-link-weight: 700;
$nav-link-transform: unset;

$nav-link-bgcolor-hover: transparent;
$nav-link-border-width-hover: 0 0 $padding-xs 0;
$nav-link-border-style-hover: solid;
$nav-link-border-color-hover: $c-primary;
$nav-link-color-hover: $c-primary;
$nav-link-decoration-hover: none;
$nav-link-margin-hover: 0 ($padding-md * 2) 0 0;
$nav-last-link-margin-hover: 0 ($padding-md * 2) 0 0;
$nav-link-padding-hover: $padding-md $padding-md ($padding-md - $padding-xs) $padding-md;
$nav-link-weight-hover: 700;
$nav-link-transform-hover: unset;