.block-check-elligibility{
    background-color: $c-gray-80-10;
    max-width: 60%;
    padding: $padding-lg;

    .h4{
        margin-top: 0;
    }

    form{
        display: flex;
        flex-flow: row nowrap;

        & > .form-field > input{
            border: none;
        }

        & > .form-field > input,
        & > button{
            height: 44px;
        }
    }
}