.main-content{
    margin: 0;

    .template-homepage > &{
        background-color: $c-gray-00;
        color: $c-white;

        .loud{
            margin: 0;
            padding: ($padding-lg * 2) 0 ($padding-lg * 4); 
        }

    }

}