:root{
    --fontsize: $font-size-md;
    --lineheight: $line-height-md;

    @media(min-width: 40rem){
        --fontsize: $font-size-lg;
        --lineheight: $line-height-lg;
    }
}

body{
    font: $font-size-md / $line-height-md $font-primary;
    font-size: var(--fontsize, $font-size-md);
    line-height: var(--lineheight, $line-height-lg);
    color: $c-font-base;
}

