:root{
    --fontsize: $font-size-md;
    --lineheight: $line-height-md;

    @media(min-width: map-get($mq, md)){
        --fontsize: $font-size-lg;
        --lineheight: $line-height-lg;
    }
}

body{
    font: #{$font-size-md} / #{$line-height-md} $font-primary;
    @media(min-width: map-get($mq, md)){
        font: #{$font-size-lg} / #{$line-height-lg} $font-primary;
    }
    font-size: var(--fontsize, $font-size-md);
    line-height: var(--lineheight, $line-height-lg);
    color: $c-theme-font;
}

p, dl, ul, blockquote{
    margin-bottom: $text-spacer-bottom;
    margin-top: $text-spacer-top;
}

ul > li > ul{
    margin-bottom: 0;
    margin-top: 0;
}

dt{
    font-weight: 700;
}

dd{
    margin-bottom: $text-spacer-bottom;

    & > *:first-child{
        margin-top: 0;
    }

    & > dl{
        margin-left: $text-spacer-bottom * 2;
    }
}

a{
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover,
    &:active,
    &:focus{
        color: $link-color-hover;
        text-decoration: $link-decoration;
    }
}