.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit']{
    background-color: $btn-bgcolor;
    border: $btn-border-with $btn-border-style $btn-border-color;
    border-radius: $btn-border-radius;
    color: $btn-color;
    cursor: pointer;
    display: inline-block;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    letter-spacing: 0;
    line-height: 1;
    padding: $btn-padding;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
 
    &:focus,
    &:hover{
        background-color: $btn-bgcolor-hover;
        border-color: $btn-border-color-hover;
        color: $btn-color-hover;
    }
 
    &[disabled]{
        cursor: default;
        opacity: .5;
        background-color: $btn-disabled-bgcolor;
        border-color: $btn-disabled-border-color;
        color: $btn-disabled-color;
 
        &:focus,
        &:hover{
            background-color: $btn-disabled-bgcolor-hover;
            border-color: $btn-disabled-border-color-hover;
            color: $btn-disabled-color-hover;
        }
    }
 
    &.button-outline{
         background-color: transparent;
         color: $c-primary;
 
         &:focus,
         &:hover{
             background-color: transparent;
             border-color: darken($c-primary, 10%);
             color: darken($c-primary, 10%);
         }
 
         &[disabled]{
             &:focus,
             &:hover{
                 border-color: inherit;
                 color: $c-primary;
             }
         }
     }
 
     &.button-clear{
        background-color: transparent;
        border-color: transparent;
        color: $c-primary;
 
        &:focus,
        &:hover{
            background-color: transparent;
            border-color: transparent;
            color: darken($c-primary, 10%);
        }
 
        &[disabled]{
            &:focus,
            &:hover{
                color: $c-primary;
            }
        }
    }
}