.form-group{
    margin-bottom: $form-group-margin-bottom;

    .form-group-radio,
    .form-group-checkbox{
        padding-left: 44px;
        position: relative;

        [type="checkbox"],
        [type="radio"] {
            left: 10px;
            position: absolute;
            top: 10px;
        }

        label{
            font-weight: 400;
        }
    }
}