.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $nav-padding;
  
    .nav-list {
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
    }
      
    .nav-item {
        &:not(.nav-brand){
            visibility: hidden;
            display: none;
        }
        height: 100%;
        margin: 0;
        
        &:not(.nav-brand) > a {
            background-color: $nav-link-bgcolor;
            border-width: $nav-link-border-width;
            border-style: $nav-link-border-style;
            border-color: $nav-link-border-color;
            border-radius: $nav-link-border-radius;
            color: $nav-link-color;
            display: inline-block;
            font-weight: $nav-link-weight;
            margin: 0 0 ($nav-link-spacing / 2) 0;
            padding: $nav-link-padding;
            text-align: right;
            text-decoration: $nav-link-decoration;
            text-transform: $nav-link-transform;
        
            &:hover,
            &:active,
            &:focus{
                background-color: $nav-link-bgcolor-hover;
                border-width: $nav-link-border-width-hover;
                border-style: $nav-link-border-style-hover;
                border-color: $nav-link-border-color-hover;
                border-radius: $nav-link-border-radius-hover;
                color: $nav-link-color-hover;
                font-weight: $nav-link-weight-hover;
                margin: 0 0 ($nav-link-spacing / 2) 0;
                padding: $nav-link-padding-hover;
                text-decoration: $nav-link-decoration-hover;
                text-transform: $nav-link-transform-hover;
            }
        } 

        &:not(.nav-brand):last-child > a {
            margin-bottom: 0;

            &:hover,
            &:active,
            &:focus{
                margin-bottom: 0;
            }
        }
    }
    
    &.nav-active{
        .nav-item:not(.nav-brand){
            visibility: visible;
            display: block;
            a{
                display: block;
            }
        }
    }
    
    .nav-brand{
        margin-right: auto;
    }
  
    .nav-toggle {
        position: absolute;
        top: $nav-toggle-x;
        right: $nav-toggle-y;
        padding: $nav-link-padding-hover;
        border-width: $nav-link-border-width;
        border-style: $nav-link-border-style;
        border-color: $nav-link-border-color;
        border-radius: $border-radius;
        background: $nav-link-bgcolor;
        color: $nav-link-color;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
    }
    
    @media(min-width: map-get($mq, md)){
        .nav-list{
            flex-flow: row nowrap;
        }
      
        .nav-item:not(.nav-brand){
            visibility: visible;
            display: inline-block;
            text-align: center;

            & > a {
                margin: 0 $nav-link-spacing 0 0;
                transition: all $transition-duration $transition-type;

                &:focus,
                &:active,
                &:hover{
                    margin: 0 $nav-link-spacing 0 0;
                }
            }

            &:last-child > a{
                margin-right: 0;

                &:focus,
                &:active,
                &:hover{
                    margin-right: 0;
                }
            }
        }
      
        .nav-toggle {
            visibility: hidden;
            display: none;
        }
    }

    &.nav-inverse{
        .nav-item:not(.nav-brand) > a {
            background-color: $nav-inverse-link-bgcolor;
            border-color: $nav-inverse-link-border-color;
            color: $nav-inverse-link-color;
        }

        .nav-toggle {
            background-color: $nav-inverse-link-bgcolor;
            border-color: $nav-inverse-link-border-color;
            color: $nav-inverse-link-color; 
        }
    }
}