.no-border{
    border-width: 0px;
}

.no-radius{
    border-radius: 0 0 0 0;
}

.no-padding{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.no-margin{
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clearfix{
    &:before,
    &:after{
        display: table;
        clear: both;
        content: "";
    }
}