@each $size, $value in $spacing{
    @each $multiplier in $spacing-multiplier {
        .m-#{$size}-#{$multiplier}{
            margin-bottom: $value;
            margin-left: $value;
            margin-right: $value;
            margin-top: $value;
        }

        .mb-#{$size}-#{$multiplier}{
            margin-bottom: $value;
        }

        .mh-#{$size}-#{$multiplier}{
            margin-left: $value;
            margin-right: $value;
        }

        .ml-#{$size}-#{$multiplier}{
            margin-left: $value;
        }

        .mr-#{$size}-#{$multiplier}{
            margin-right: $value;
        }

        .mt-#{$size}-#{$multiplier}{
            margin-top: $value;
        }

        .mv-#{$size}-#{$multiplier}{
            margin-bottom: $value;
            margin-top: $value;
        }

        .p-#{$size}-#{$multiplier}{
            padding-bottom: $value;
            padding-left: $value;
            padding-right: $value;
            padding-top: $value;
        }

        .pb-#{$size}-#{$multiplier}{
            padding-bottom: $value;
        }

        .ph-#{$size}-#{$multiplier}{
            padding-left: $value;
            padding-right: $value;
        }

        .pl-#{$size}-#{$multiplier}{
            padding-left: $value;
        }

        .pr-#{$size}-#{$multiplier}{
            padding-right: $value;
        }

        .pt-#{$size}-#{$multiplier}{
            padding-top: $value;
        }

        .pv-#{$size}-#{$multiplier}{
            padding-bottom: $value;
            padding-top: $value;
        }
    }
}

.m-reset{
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}