.spacing-lg{
    padding: $padding-lg 0; 
}

.spacing-lg-2{
    padding: ($padding-lg * 2) 0; 
}

.spacing-lg-4{
    padding: ($padding-lg * 4) 0; 
}

.spacing-md-2{
    padding: ($padding-md * 2) 0; 
}

.spacing-md-4{
    padding: ($padding-md * 4) 0; 
}