@media(min-width: $mq-xs){
    @each $multiplier in $spacing-multiplier {
        .spacing-xs-#{$multiplier}{
            margin-top: ($spacing-xs * $multiplier); 
            margin-bottom: ($spacing-xs * $multiplier); 
        }
    }
}

@media(min-width: $mq-sm){
    @each $multiplier in $spacing-multiplier {
        .spacing-sm-#{$multiplier}{
            margin-top: ($spacing-sm * $multiplier); 
            margin-bottom: ($spacing-sm * $multiplier); 
        }
    }
}

@media(min-width: $mq-md){
    @each $multiplier in $spacing-multiplier {
        .spacing-md-#{$multiplier}{
            margin-top: ($spacing-md * $multiplier); 
            margin-bottom: ($spacing-md * $multiplier); 
        }
    }
}
    
@media(min-width: $mq-lg){
    @each $multiplier in $spacing-multiplier {
        .spacing-lg-#{$multiplier}{
            margin-top: ($spacing-lg * $multiplier); 
            margin-bottom: ($spacing-lg * $multiplier); 
        }
    }
}
