.form-field{
    label{
        display: block;
        font-size: inherit;
        font-weight: inherit;
        margin-bottom: .5rem;
    }
}

.form-input{
    appearance: none;
    background-color: $input-bgcolor;
    border: $input-border-width $input-border-style $input-border-color;
    border-radius: $input-border-radius;
    height: $input-minheight;
    padding: $input-padding;
    width: 100%;
 
    &:focus{
        border-color: $input-border-color-focus;	
    }
}

.form-field-message{
    font-size: .7em;
}
 
.form-select {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
    padding-right: 3.0rem;
 
    &:focus{
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%239b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
    }
}
 
textarea.form-input{
    min-height: 6.5rem;
}
 
.form-label,
.form-legend{
    display: block;
    font-size: inherit;
    font-weight: inherit;
    margin-bottom: .5rem;
}
 
.form-fieldset{
    border-width: 0;
    padding: 0;
}
 
.form-checkbox,
.form-radio{
    display: inline;
}
 
.label-inline{
    display: inline-block;
    font-weight: normal;
    margin-left: .5rem;
}