form{
    margin: 0;
    padding: 0;
}

label{
    color: $label-color;
    display: block;
    font-size: inherit;
    font-weight: $label-weight;
}

fieldset{
    border: $fieldset-border-width $fieldset-border-style $fieldset-border-color;
    padding: $fieldset-spacing;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.1;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select { 
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table; 
    max-width: 100%;
    padding: 0; 
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input, 
textarea,
select{
    background-clip: padding-box;
    background-color: $input-bgcolor;
    border: $input-border-width $input-border-style $input-border-color;
    border-radius: $input-border-radius;
    box-shadow: $input-box-shadow;
    color: $input-color;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    min-height: $input-height;
    padding: $input-padding;
    transition: $input-transition;
    width: 100%;

    &:focus,
    &:active{
        border-color: $input-border-color-focus;
        box-shadow: $input-box-shadow-focus;
    }
}

[type="checkbox"],
[type="radio"] {
    display: inline-block;
    min-height: unset;
    width: auto;
}

input::placeholder,
textarea::placeholder,
select::placeholder{
    opacity: $placeholder-opacity;
    color: $placeholder-color;
    font-style: $placeholder-style;
}

select{
    appearance: none;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 16 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='currentColor' fill-rule='nonzero'%3E%3Cpath d='M6.93933983,9.53753702 C7.48851461,10.1156157 8.35757702,10.1517457 8.94673776,9.64592678 L9.06066017,9.53753702 L15.5606602,2.69543176 C16.1464466,2.07881446 16.1464466,1.07908028 15.5606602,0.462462977 C15.0114854,-0.115615744 14.142423,-0.151745664 13.5532622,0.354073217 L13.4393398,0.462462977 L8,6.18842105 L2.56066017,0.462462977 C2.01148539,-0.115615744 1.14242298,-0.151745664 0.553262238,0.354073217 L0.439339828,0.462462977 C-0.109834957,1.0405417 -0.144158381,1.95534424 0.336369556,2.57551343 L0.439339828,2.69543176 L6.93933983,9.53753702 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: $select-bg-position;
    background-size: $select-bg-size;
}