h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5,
h6, .h6{
    font: map-get($h-size-xs, h6) / $line-height-sm $font-primary;
    font-weight: 700;
    line-height: $line-height-sm;
    margin-bottom: $text-spacer-bottom;
    margin-top: $text-spacer-top;

    & > .h-prefix{
        color: $c-theme-primary;
        display: block;
        font-size: $font-size-lg;
        font-weight: 400;
        text-transform: uppercase;
    }
}

@each $tag, $value in $h-size-xs {
    #{$tag}, .#{$tag}{
        font-size: $value;
    }
}

@media(min-width: map-get($mq, sm)){
    @each $tag, $value in $h-size-sm {
        #{$tag}, .#{$tag}{
            font-size: $value;
        }
    }
}

@media(min-width: map-get($mq, md)){
    @each $tag, $value in $h-size-md {
        #{$tag}, .#{$tag}{
            font-size: $value;
        }
    }
}

@media(min-width: map-get($mq, lg)){
    @each $tag, $value in $h-size-lg {
        #{$tag}, .#{$tag}{
            font-size: $value;
        }
    }
}

@media(min-width: map-get($mq, hd)){
    @each $tag, $value in $h-size-hd {
        #{$tag}, .#{$tag}{
            font-size: $value;
        }
    }
}