/*
 * à améliorer
 * placer les variables
 */

table{
	border-spacing: 0;
	width: 100%;
}

td,
th{
	border-bottom: $table-border-width $table-border-style $table-border-color;
	padding: $table-padding;
	text-align: left;

	&:first-child{
		padding-left: 0;
	}

	&:last-child{
		padding-right: 0;
	}
}

@media screen and (max-width: $mq-md){
	table{
   		border-spacing: 0;
   		display: flex;
    	width: 100%;
	
		thead{
      		border-right: solid .1rem $c-primary;
		}

      td,
		th{
      		padding-left: 0;
		
			&:first-child{
				padding-left: 0;
			}

			&:last-child{
         	padding-right: 1.2rem;
			}
		}

		tbody{
      		display: flex;
      		overflow-x: auto;
      		white-space: nowrap;
		
			tr{
        		border-right: solid .1rem $c-primary;

				&:last-child{
          			border-right: none;
				}
			}
		}

    	td,
		th{
     		display: block;

			&:first-child{
        		padding-left: 1.2rem;
			}

			&:last-child{
        		padding-right: 1.2rem;
			}
		}
	}
}
